<h1>Editing push notification</h1>

<%= render "form", push_notification: @push_notification %>

<br>

<div>
  <%= link_to "Show this push notification", @push_notification %> |
  <%= link_to "Back to push notifications", push_notifications_path %>
</div>
